In [1]:
import pandas as pd
import numpy as np

In [27]:
questions = ['Question ' + str(i) for i in range(1, 100+1)]
answers = ['Answer ' + str(i) for i in range(1, 100+1)]
data = pd.DataFrame({'question': questions, 'answer': answers})

In [30]:
data.head()

     question    answer
0  Question 1  Answer 1
1  Question 2  Answer 2
2  Question 3  Answer 3
3  Question 4  Answer 4
4  Question 5  Answer 5